{% extends "base.html" %}

{% block content %}
<article>
    <header>
        <section>
            <h3 style="font-family:georgia,garamond,serif;font-size:20px;font-style:italic;">
             Alaska tundra wolf</h3>
            <body>
                <img src="/../static/img/p1.png">
                <p><b>Height</b> 33 inches</p>
                <p><b>Weight</b> 70 pounds</p>
                <p><b>Description</b>The Alaska tundra wolf, also known as puppy...</p>
            </body>
        </section>
        <section>
            <h3 style="font-family:georgia,garamond,serif;font-size:20px;font-style:italic;">
             African killer</h3>
            <body>
                <img src="/../static/img/p2.png">
                <p><b>Height</b> 33 inches</p>
                <p><b>Weight</b> 70 pounds</p>
                <p><b>Description</b>The African hunter for lions, also known as puppyKiller...</p>
            </body>
        </section>
    </header>
</article>

{% endblock %}